.body{
  font-weight: 400;
}


.App {
  text-align: center;
}

.content {
  margin-top: 200px; /* To create scrollable content */
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-to-top:hover {
  opacity: 0.7;
}